:root {
  --primary-color: #4A90E2; 
  --secondary-color: #F5A623; 
  --accent-color: #F5A623; 
  --tertiary-color: #00BCD4; 
  --quaternary-color: #8BC34A; 
  --font-color: #333333; 
  --background-color: #FAFAFA; 
  --border-radius: 10px;
  --transition-speed: 0.3s;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.8rem;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 40px;
  margin: 20px auto;
  max-width: 600px;
}

label {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--font-color);
}

input, select, button {
  padding: 15px;
  border: 1px solid #4A90E2;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: all var(--transition-speed);
}

input:focus, select:focus {
  box-shadow: 0 0 0 2px var(--accent-color);
  border: 1px solid #F5A623;
  outline: none;
}

button {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform var(--transition-speed), box-shadow var(--transition-speed), border var(--transition-speed);
}

button:hover {
  border: 1px solid #F5A623;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow), 0 0 15px var(--accent-color);
  transform: translateY(-3px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 2px solid #eee;
}

th {
  background-color: var(--primary-color);
  color: white;
}

a {
  color: var(--accent-color);
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}
